/* FONTS */

@import url("../assets/fonts/Circe/stylesheet.scss");
@import url("../assets/fonts/FreeMono/stylesheet.scss");


/* RESET */

@import "reset.scss";

:root {
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #F73164;
  --danger-hover: #F73164AF;
}

* {
  box-sizing: border-box;
}

body {
  background: #2C2C3B;
  margin: 0;
  color: #fff;
  font-family: 'Circe', sans-serif;
  font-weight: 200;
  font-style: normal;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}

