/* FONTS */

@import url("../assets/fonts/Circe/stylesheet.scss");
@import url("../assets/fonts/FreeMono/stylesheet.scss");
@import url("../assets/fonts/Unifont/stylesheet.scss");


/* RESET */

@import "reset.scss";
@import "scrollbar.scss";

:root {
  --primary: #6979f8;
  --primary-hover: #A5AFFB;
  --minimal: #6979F82F;
  --minimal-dark: #50547952;
  --minimal-dark-hover: #a5affb57;
  --primary-hover: #A5AFFB;
  --second: #BE52F2;
  --second-hover: #DBA5F5;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #F73164;
  --danger-hover: #F73164AF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Circe', sans-serif;
  font-weight: 200;
  font-style: normal;

  //Добавили градиентый фон
  /* Отключаем повторение фона */
  /* Центрируем градиент сверху */
  /* Закрепляем фон при прокрутке */
  background: #2C2C3B radial-gradient(120% 140% at 50% 10%, transparent 30%, rgba(0, 59, 117, 0.3) 80%) no-repeat top center fixed;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &_block {
    display: block;
  }
}



//--------------- shake ---------------
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


//--------------- shadow ---------------
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 rgba(167, 157, 157, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(210, 186, 186, 0.6);
  }
  100% {
    box-shadow: 0 0 0 rgb(199, 189, 205);
  }
}

//--------------- slideIn ---------------
@keyframes slideIn {
  0% {
    transform: translateX(-8%);
  }
  100% {
    transform: translateX(0);
  }
}

//--------------- flicker ---------------
@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

//--------------- distort ---------------
@keyframes distort {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

//--------------- tick ---------------
@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(26px);
  }
  40% {
    transform: translateX(24px);
  }
  60% {
    transform: translateX(28px);
  }
}