.switch{


  //--------------- colors ---------------
  &_secondary {
    input:checked + .slider {
      background-color: var(--second);
    }
  }

  &_secondary_lite {
    input:checked + .slider {
      background-color: var(--second-hover);
    }
  }

  &_basic {
    input:checked + .slider {
      background-color: #6979F800;
    }
  }

  &_minimal {
    input:checked + .slider {
      background-color: var(--minimal);
      border: 1px solid var(--minimal);;
    }
  }

  &_minimal_dark {
    input:checked + .slider {
      background-color:var(--minimal-dark-hover);
      border: 1px solid var(--minimal-dark-hover);
    }

  }

  &_primary {
    input:checked + .slider {
      background-color: var(--primary);
    }
  }

  &_success {
    input:checked + .slider {
      background-color: var(--success);
    }
  }

  &_info {
    input:checked + .slider {
      background-color: var(--info);
    }

  }

  &_warning {
    input:checked + .slider {
      background-color: var(--warning);
    }
  }

  &_danger {
    input:checked + .slider {
      background-color: var(--danger);
    }

  }

  //--------------- styles ---------------
  &_square {
    .slider, .slider:before {
      border-radius: 0px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.89);
    }
  }
  &_shadow {
    .slider {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.89);
    }

    .slider:before {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.89);
    }
  }
  &_dashed {
    .slider:before {
      border: 1px dashed #000;
    }
  }
  &_heptagon {
    .slider {
      clip-path: polygon(26.62% 11%, 73.01% 10.76%, 95.71% 50%, 73.01% 89.24%, 26.62% 89.24%, 4.75% 50.12%);
      margin: -2px;
      border-radius: 0;
    }

    .slider:before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 0;
      background-color: #ffffff;
      transform: rotate(45deg); /* Поворачиваем квадрат на 45 градусов */
      position: absolute;
      top: 9px;
      left: 9px;
    }

    input:checked + .slider:before {
      transform: translateX(26px) rotate(45deg);
    }
  }
  &_oval {
    .slider {
      border-radius: 25px; /* Овальная форма переключателя */
      width: 67px;
      height: 21px;
    }

    .slider:before {
      width: 30px;
      height: 16px;
      background-color: #ffffff;
      border-radius: 50px; /* Овальная форма ползунка */
      position: absolute;
      top: 2px;
      left: 4px;
    }

    input:checked + .slider:before {
      transform: translateX(30px);
    }
  }
  &_strip {
    .slider {
      border-radius: 25px;
      width: 60px;
      height: 6px;
      top: 15px;
    }

    .slider:before {
      width: 22px;
      height: 22px;
      background-color: #ffffff;
      border-radius: 50px;
      position: absolute;
      top: -8px;
      left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.09);
    }

    input:checked + .slider:before {
      transform: translateX(25px);
    }

    input:not(:checked) + .slider:before {
      transform: translateX(-15px);
    }
  }
  &_shadow_style {
    .slider {
      box-shadow: inset 6px 2px 16px 2px rgb(17, 17, 17), 3px 4px 8px 2px rgba(0, 0, 0, 0.5);
    }
    .slider:before{
      border: 1px solid rgba(0, 0, 0, 0.76);
      width: 24px;
      height: 24px;
    }
  }

  //--------------- animation ---------------
  &_bounce input:checked +.slider:before {
    animation: bounce 0.4s;
  }
  &_slow input:checked + .slider:before {
    transition: transform 0.9s ease-in-out;
    transform: translateX(26px);
  }
  &_slow input:not(:checked) + .slider:before {
    transition: transform 0.9s ease-in-out;
    transform: translateX(0px);
  }

  &_fade input:checked + .slider:before, {
    animation: fades 0.4s;
  }
  &_shrink input:checked + .slider:before {
    animation: shrinkGrow 0.4s;
  }
  &_waves input:checked + .slider:before {
    animation: waves 0.5s;
  }
  &_bounce_pulse input:checked + .slider:before {
    animation: bounce_pulse 0.5s;
  }
  &_splash input:checked + .slider:before {
    animation: splash 0.5s forwards;
  }
  &_splash input:not(:checked) + .slider:before {
    animation: splash-reverse 0.5s  ;
  }
  &_fly input:checked + .slider:before {
    animation: fly 0.5s forwards;
  }
  &_fly input:not(:checked) + .slider:before {
    animation: fly-back 0.5s forwards;
  }
  @keyframes fly {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(26px); }
  }
  @keyframes fly-back {
    0% { transform: translateX(26px); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }

  @keyframes splash {
    0% { transform: scale(0); opacity: 1; }
    80% { transform: scale(1); opacity: 0; }
    99% { transform: translateX(26px); opacity: 1; }
    100% {  opacity: 1; }
  }
  @keyframes splash-reverse {
    0% {transform: translateX(0px);opacity: 1;}
    20% {transform: scale(1); opacity: 1;}
    80% {transform: scale(0); opacity: 0;}
    100% {transform: scale(0);opacity: 1;}
  }

  @keyframes waves {
    0% { transform: translateX(0); }
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0); }
  }

  @keyframes bounce_pulse {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); scale: 1.1; }
  }
  @keyframes shrinkGrow {
    0% { transform: scale(1); }
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
  }
  @keyframes fades {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
}


//--------------- second colors --------
.second-color{

  &_secondary {
    .slider {
      background-color: var(--second);
    }
  }

  &_secondary_lite {
    .slider {
      background-color: var(--second-hover);
    }
  }

  &_basic {
    .slider {
      background-color: #6979F800;
    }
  }

  &_minimal {
    .slider {
      background-color: var(--minimal);
      border: 1px solid var(--minimal);
    }
  }

  &_minimal_dark {
    .slider {
      background-color: var(--minimal-dark-hover);
      border: 1px solid var(--minimal-dark-hover);
    }
  }

  &_primary {
    .slider {
      background-color: var(--primary);
    }
  }

  &_success {
    .slider {
      background-color: var(--success);
    }
  }

  &_info {
    .slider {
      background-color: var(--info);
    }
  }

  &_warning {
    .slider {
      background-color: var(--warning);
    }
  }

  &_danger {
    .slider {
      background-color: var(--danger);
    }
  }

}
